@import "https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap";
html{font-size:16px}
.h-100{min-height:100%!important}
a{color:#5091CD}
.font-weight-sbold{font-weight:600!important}
body{font-family:'Cairo',sans-serif;color:#2A2A63;overflow-x: hidden!important}
.lh-32{line-height: 32px}
@media (min-width: 1200px) {
body{border-bottom:10px solid #5091CD}
}
@media (min-width: 1600px) {
body{border-bottom:20px solid #5091CD}
}
.modal-content-search{margin: 0 auto;border-radius: 10px!important;margin-top: 7rem; }
@media (min-width: 1200px) {
.container{max-width:1040px}
.modal-xl{width:1140px;max-width:90vw}
.modal-content-search{width: 90%;border-radius: 20px!important; margin-top: 9rem;}
}
@media (min-width: 1400px) {
.container{max-width:1140px}
.modal-xl{width:1240px;max-width:90vw}
.modal-content-search{width: 85%;margin-top: 11rem;}
}
@media (min-width: 1600px) {
.container{max-width:1380px}
.modal-xl{width:1350px;max-width:90vw}
.modal-content-search{width: 80%;margin-top: 15rem;}
.offset-xxl-2 {margin-right: 16.666667%;}
.col-xxl-2{-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
}
.color-243C96{color:#243C96}
.color-27337B{color:#27337B}
.color-2A2A63{color:#2A2A63}
.color-777B81{color:#777B81}
.tooltip.show{opacity:1!important}
.tooltip-inner{background-color:#fff;color:#243C96;font-family:Cairo;font-size:18px;border-radius:0!important;padding:.375rem .5rem;opacity:1;box-shadow:rgba(0,0,0,.1) 0 0 .375rem}
.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before,.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before{border-left-color:#fff!important;border-right-color:#fff!important}
.mh-100{min-height:100vh}
@media (min-width: 992px) {
.mr-lg-10px{margin-right:10px!important}
.px-lg-44px{padding-left:44px!important;padding-right:44px!important}
.pl-lg-44px{padding-left:44px!important}
}
@media (min-width: 1200px) {
.double-gutters{margin-left:-22px;margin-right:-22px}
.double-gutters>.col,.double-gutters>[class*=col-]{padding-left:22px;padding-right:22px}
}
.inner-content{background: url(../img/inner-bg.svg) no-repeat bottom;background-size: cover;}
.shadow-10-10{box-shadow: rgba(0,0,0,0.1) -10px 10px 0}
.rounded{border-radius:3px!important}
.text-decoration-0:hover{text-decoration:none}
.transition{-webkit-transition:all ease-out .125s;-moz-transition:all ease-out .125s;-o-transition:all ease-out .125s;transition:all ease-out .125s}
#brandMask{position:fixed;left:0;right:0;top:0;bottom:0;background:#2A2A63;z-index:2;display:none}
#whiteMask{position:fixed;left:0;right:0;top:0;bottom:0;background:#fff;z-index:2;display:none}
[id*="lvl1-div"]{position:fixed;left:0;right:0;top:0;bottom:0;background:#2A2A63;z-index:2;display:none;overflow:auto}
[id*="lvl2-div"]{position:fixed;left:0;right:0;top:0;bottom:0;background:#EBEBF1;z-index:3;display:none;overflow:auto}
[id*="lvl3-div"]{position:fixed;left:0;right:0;top:0;bottom:0;background:#EBEBF1;z-index:4;display:none;overflow:auto}
[id*="lvl4-div"]{position:fixed;left:0;right:0;top:0;bottom:0;background:#EBEBF1;z-index:5;display:none;overflow:auto}
[id*="lvl5-div"]{position:fixed;left:0;right:0;top:0;bottom:0;background:#EBEBF1;z-index:6;display:none;overflow:auto}
#head{background:#2A2A63 url(../img/header-bg.svg) no-repeat;background-size:cover}
#breadcrumb{background:#3372AB url(../img/BreadCrumb-bg.svg) no-repeat;background-size:cover}
#head .navbar-dark .navbar-nav .nav-link{color:rgba(255,255,255,1);font-size:18px}
#head .navbar-dark .navbar-nav .nav-link:hover{color:#5091CD}
.fs-12{font-size:12px}
.fs-14{font-size:14px}
.fs-15{font-size:15px}
.fs-18{font-size:18px}
.fs-20{font-size:20px}
.fs-28{font-size:28px}
.fs-30{font-size:30px}
.fs-35{font-size:35px}
.lh-35{line-height:35px}
.lh-24{line-height:24px}
.lh-28{line-height:28px}
.bt-icon{height:36px;width:36px}
.py-63px{padding-bottom:33px;padding-top:33px}
.py-70px{padding-bottom:35px;padding-top:35px}
.p-36px{padding: 20px}
@media (min-width: 1200px) {
.mt-xl--2rem{margin-top:-2rem}
.fs-xl-17{font-size:17px}
.fs-xl-18{font-size:18px}
.fs-xl-20{font-size:20px}
.fs-xl-22{font-size:22px}
.fs-xl-23{font-size:23px}
.fs-xl-25{font-size:25px}
.fs-xl-26{font-size:26px}
.fs-xl-30{font-size:30px}
.bt-icon{height:40px;width:40px}
.py-63px{padding-bottom:49px;padding-top:49px}
.py-70px{padding-bottom:55px;padding-top:55px}
.p-36px{padding: 26px}
}
@media (min-width: 1400px) {
.col-xxl-21{-ms-flex:0 0 19%;flex:0 0 19%;max-width:19%}
.col-xxl-79{-ms-flex:0 0 81%;flex:0 0 81%;max-width:81%}
.fs-xxl-32{font-size:32px}
.fs-xxl-30{font-size:30px}
.fs-xxl-28{font-size:28px}
.fs-xxl-26{font-size:26px}
.bt-icon{height:44px;width:44px}
.py-63px{padding-bottom:63px;padding-top:63px}
.py-70px{padding-bottom:70px;padding-top:70px}
.p-36px{padding: 30px}
}
@media (min-width: 1600px) {
.fs-xxxl-35{font-size:35px}
.fs-xxxl-30{font-size:30px}
.bt-icon{height:48px;width:48px}
.p-36px{padding: 36px}
}
.fast-links a{color:#fff;text-decoration:none;margin:0 12px}
@media (min-width: 992px){.fast-links a{margin-left:38px}}
.fast-links a:hover{color:#5091CD}
.fast-links a img{vertical-align:top}
.dropdown-toggle:hover::before{content:"";width:0;height:0;border-width:0 .625rem .625rem;border-color:transparent transparent #5091CD;border-style:solid;position:absolute;top:calc(100% - 14px);left:calc(50% - 10px);-webkit-animation-name:slideFade;animation-name:slideFade;animation-duration:.3s;-webkit-animation-duration:.3s;animation-fill-mode:both;-webkit-animation-fill-mode:both}
.dropdown-toggle::after{width:.625rem;height:.375rem;background:url(../img/dropdown-arrow.svg) no-repeat;border:0;background-size:cover;margin-bottom:-.1875rem}
#head .navbar-brand img{max-width:9.375rem}
@media (min-width: 1400px) {
#head .navbar-brand img{max-width:270px;margin-top:-13px;margin-bottom:8px}
}
@media (min-width: 1600px) {
#head .navbar-brand img{max-width:310px;margin-top:-13px;margin-bottom:8px}
}
#fixedBottom{position:relative}
@media (min-width: 992px) {
#fixedBottom{position:absolute;bottom:0;left:.9375rem;right:.9375rem}
#homeContainer{height:calc(100vh - 9.5rem);display:flex;align-items:center}
#homeContainer > .row{padding-bottom:66px}
}
.dropdown-menu{background:#5091CD;border-radius:0;border:none;color:#fff}
.dropdown-menu .dropdown-item{color:#fff}
.dropdown-item:focus,.dropdown-item:hover{text-decoration:none;background-color:#377bbb}
@media (min-width: 992px) {
.dropdown:hover .dropdown-menu{display:block;margin-top:0}
.dropdown-custom{background:#5091CD;min-width:100%;border-radius:0;border:none;color:#fff;right:0;top:calc(100% - 4px)}
.dropdown-custom .dropdown-item{display:none!important}
}
.youtube-vedio a{display:block;left:0;right:0;top:0;bottom:0;position:absolute;z-index:1}
.youtube-vedio a img{position:absolute;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);width:56px}
.youtube-vedio a:hover img{opacity:1;width:4.6875rem}
.youtube-vedio{overflow:hidden}
.readmore{color:#243C96;border:1px solid #243C96;font-weight:600;text-decoration:none;background:#fff url(../img/readmore-arrow.svg) no-repeat;background-position:left 1.25rem center}
.readmore:hover{color:#fff;border:1px solid #5091CD;background:#5091CD;text-decoration:none;background:#5091CD url(../img/readmore-arrow2.svg) no-repeat;background-position:left 1.25rem center}
.modal button.close{background:url(../img/popup-close.svg) no-repeat center center;opacity:1;padding:2rem;margin:0 0 -2rem auto;z-index:9;outline:none!important}
.modal-header{padding:0}
.modal-body{padding-top:0}
.modal-content{border:0;border-radius:0}
.modal-header{border:0}
#social-links{position:fixed;right:6px;display:flex;flex-direction:column;top:calc(50% + 13px);transform:translateY(-50%);z-index:1}
@media (min-width: 992px){#social-links{right:29px;}}
#social-links a{width:38px;height:38px;border:2px solid #243c96;text-align:center;display:flex;justify-content:center;border-radius:50%;margin:13px 0 12px;-webkit-transition:all ease-out .125s;-moz-transition:all ease-out .125s;-o-transition:all ease-out .125s;transition:all ease-out .125s;background:#fff;align-items:center}
#social-links a:hover{background:#243c96}
#social-links a img{width:20px;height:20px}
#social-links a:hover img{filter:brightness(100)}
.onhoverDiv{height:0;overflow:hidden;position:absolute;bottom:0}
[id*="prnt"]{position:relative}
[id*="prnt"]:hover .onhoverDiv{height:auto}
.expanding-box-more{color:#fff;border:1px solid #fff;font-weight:600;text-decoration:none;background:#2A2A6300 url(../img/readmore-arrow-white.svg) no-repeat;background-position:left 1.25rem center;display:inline-block}
.expanding-box-more:hover{color:#fff;border:1px solid #5091CD;background:#5091CD;text-decoration:none;background:#5091CD url(../img/readmore-arrow2.svg) no-repeat;background-position:left 1.25rem center}
.expanding-box{padding-top:68px;height:68px;overflow:hidden;bottom:0;left:0;right:0;z-index:1}
.expanding-box:hover .expanding-box-body{opacity:1}
.expanding-box-header{position:absolute;top:0;left:0;right:0;height:68px}
.expanding-box-body{opacity:0;display:flex;flex-direction:column;justify-content:space-between;height:100%;overflow:auto;font-size:15px;-webkit-transition:all ease-out .2s;-moz-transition:all ease-out .2s;-o-transition:all ease-out .2s;transition:all ease-out .2s;-webkit-transition-delay:350ms;-moz-transition-delay:350ms;-o-transition-delay:350ms;transition-delay:350ms}
.expanding-box-body::-webkit-scrollbar{width:6px}
.expanding-box-body::-webkit-scrollbar-track{background:#f1f1f1}
.expanding-box-body::-webkit-scrollbar-thumb{background:#888}
.expanding-box-body::-webkit-scrollbar-thumb:hover{background:#555}
@media (min-width: 992px) {
.expanding-box{position:absolute}
.expanding-box:hover .expanding-box-body{opacity:1;overflow:auto!important}
.expanding-box-body{overflow:hidden}
}
@media (min-width: 1200px) {
.expanding-box{padding-top:70px;height:70px}
.expanding-box-header{height:70px}
.expanding-box-body{font-size:15px}
}
@media (min-width: 1400px) {
/* .expanding-box:hover .expanding-box-body{overflow:hidden!important} */
.expanding-box{padding-top:105px;height:95px}
.expanding-box-header{height:95px}
}
@media (min-width: 1600px) {
.expanding-box{padding-top:120px;height:120px}
.expanding-box-header{height:120px}
.expanding-box-body{font-size:17px;line-height:30px}
}
@media screen and (max-width: 800px) {
.wow{animation-name:none!important;visibility:visible!important}
}
.div-close{position:absolute;right:.625rem;top:30px;width:25px;height:25px;padding:0;margin:0;display:block;z-index: 9;}
.div-close:hover{background:#192861ba}
.div-back{position:absolute;right:.625rem;top:60px;width:1.5625rem;height:1.5625rem;display:block}
.div-back:hover{background:#192861ba}
.div-close img,.div-back img{width:100%;height:100%;vertical-align:baseline;-webkit-transform: scaleX(-1);-ms-transform: scaleX(-1);transform: scaleX(-1);}
img[src*="left-arrow.svg"] ,img[src*="search-arrow.png"] {-webkit-transform: scaleX(-1);-ms-transform: scaleX(-1);transform: scaleX(-1); }
@media (min-width: 992px) {
.div-close{position:absolute;right:15px;top:49px;width:40px;height:40px}
.div-back{position:absolute;right:65px;top:49px;width:40px;height:40px}
}
@media (min-width: 1400px) {
.div-close{position:absolute;right:15px;top:63px;width:50px;height:50px}
.div-back{position:absolute;right:85px;top:63px;width:50px;height:50px}
}
.chart-title1{position:absolute;z-index:2;font-size:1rem;color:#2a2a63;left:50%;text-align:center;top:8.5rem;transform:translateX(-50%);font-weight:700;max-width:5.625rem}
@media (min-width: 1200px) {.chart-title1{top:3.25rem;font-size: 1rem;}}
@media (min-width: 1400px) {.chart-title1{top:4.25rem;font-size:1.3rem}}
@media (min-width: 1600px) {.chart-title1{top:4.25rem;font-size:1.3rem}}
.hoverScaled{box-shadow:rgba(0,0,0,.1) 0 0 .375rem}
.hoverScaled:hover{transform:scale(1.1);-webkit-box-shadow:0 1.3125rem 1.9375rem 0 rgba(94,165,232,0.7);-moz-box-shadow:0 1.3125rem 1.9375rem 0 rgba(94,165,232,0.7);box-shadow:0 1.3125rem 1.9375rem 0 rgba(94,165,232,0.7)}
.hoverScaled2,.box-shadow4{box-shadow:0 3px 25px #0000001A;height: 100%;}
.hoverScaled2:hover{transform:scale(1.1)}
.has-right-icon-list{padding-left:2.75rem}
@media (min-width: 576px) {.has-right-icon-list{padding-left:0}}
.right-icon-list{position:absolute;left:0;right:auto;top:-1rem;border-right:1px solid rgba(119,123,129,0.5);padding-right:.625rem}
.right-icon-list ul li a img{opacity:.5}
.right-icon-list ul li a:hover img{opacity:1}
.right-icon-list ul,.right-icon-list ul li{padding:0;margin:1.25rem 0;display:block}
.right-icon-list li i{-webkit-transition:all ease-out .125s;-moz-transition:all ease-out .125s;-o-transition:all ease-out .125s;transition:all ease-out .125s;font-size:12px;position:absolute;left:100%;font-style:normal;background:#fff;height:100%;white-space:nowrap;line-height:1.875rem;padding-right:0;color:#2A2A63;width:0;overflow:hidden;z-index:2}
.right-icon-list ul li a:hover i{display:block;padding-right:.3125rem;padding-left:0;width:auto}
.right-icon-list ul li a{display:flex;width:2.5rem;height:1.875rem;text-align:center;margin:0;padding:0;justify-content:center;/*align-items:center;*/position:relative;z-index: 7;}
.right-icon-list ul li a img{width:19px;height:19px;align-self: center}
.right-icon-list ul li a:hover{background:#fff}
.has-left-icon-list{padding-right:2.75rem;position:relative}
.right-icon-list.inner{right:auto;left:calc(100% - 2.125rem);padding-left:0;top:1rem;border:0}
.right-icon-list.inner ul li a:hover{background:#eee}
.right-icon-list.inner ul li a:hover i{padding-left:.3125rem;padding-right:0}
.right-icon-list.inner li i{background:#eee}
@media (min-width: 576px) {
.right-icon-list{right:calc(100% + 30px);left:auto}
}
@media (min-width: 992px) {
.right-icon-list li i{left:auto;right:100%;padding-left:0}
.right-icon-list ul li a:hover i{padding-left:.3125rem;padding-right:0}
.right-icon-list ul li{margin:1.75rem 0}
}
@media (min-width: 1600px) {
.right-icon-list li i{font-size:15px}
.right-icon-list ul li a img{width:24px;height:24px;}
.right-icon-list{right:calc(100% + 50px);left:auto;padding-right:1.625rem;width:auto}
.right-icon-list ul li{margin:2.5rem 0 .5rem}
.right-icon-list ul{margin-top:3.5rem;margin-bottom:0}
}
.openingBtn{display: none;}
@media (max-width: 576px) {
    .has-right-icon-list {padding-left:0;}
    .right-icon-list{width: 150px;background: #fff;z-index: 9999;border-right: 0;box-shadow: rgba(0,0,0,.2) 0 6px 8px;left: -150px;top:0;
        -webkit-transition:all ease-out .125s;-moz-transition:all ease-out .125s;-o-transition:all ease-out .125s;transition:all ease-out .125s;}
    .right-icon-list.opened{left: 0px;}
    .right-icon-list ul, .right-icon-list ul li{margin: .75rem 0;}
    .right-icon-list ul li a img{margin-right: 1rem;margin-left: 1rem;}
    .right-icon-list ul li a{width: 100%;text-align: left;display: block;}
    .right-icon-list li i{position: relative!important;width: auto!important;left: auto!important;padding: 0!important;display: inline!important;}
    .right-icon-list .openingBtn{
        display: block;
        position: absolute;
        right: -30px;
        background: #fff url(../img/more.png) center no-repeat;
        width: 30px;
        height: 30px;
        top: 10px;
        text-align: center;
        background-size: 80%;
        border-radius:0 8px 8px 0;
        font-size: 0;z-index: 999;
        cursor: pointer;box-shadow: rgba(0,0,0,.2) 0 0px 6px
    }
    .has-left-icon-list{padding-right: 0;overflow: hidden;}
.right-icon-list.inner{right: -150px!important;left: auto;}
.right-icon-list.inner.opened{right: 0px!important;}
.right-icon-list.inner .openingBtn{left: -30px;border-radius: 8px 0 0 8px;}
.right-icon-list.inner li i{background:transparent}
}
.as-link:hover{cursor:pointer}
.breadcrumb-custom{display:flex;flex-wrap:wrap;margin-right: 30px}
.breadcrumb-custom [class*="bc-c-"]{position:relative;color:#fff;font-size:14px;line-height:1.6875rem;padding:3px .375rem;margin-right:.625rem;border-radius:.3125rem;margin-bottom:.375rem;background-color:#243C96;font-weight:600;box-shadow:#2a2a6342 -1px 0 .375rem}
.breadcrumb-custom .bc-c-2{background-color:#5091CD}
.breadcrumb-custom .bc-c-1 img{width:1.875rem;height:1.875rem;margin-right:.375rem}
.breadcrumb-custom [class*="bc-c-"]::after{content:"";width:0;height:0;border-width:.3125rem 0 .3125rem .3125rem;border-color:transparent  transparent transparent #243C96;border-style:solid;position:absolute;top:50%;left:100%;transform:translateY(-50%)}
.breadcrumb-custom [class*="bc-c-2"]::after{border-color:transparent transparent transparent #5091CD }
@media (min-width: 992px) {
.breadcrumb-custom{margin-right: 105px}
.breadcrumb-custom [class*="bc-c-"]{font-size:.9375rem;padding:.875rem 1rem;margin-right:1rem;border-radius:.4375rem}
.breadcrumb-custom .bc-c-1 img{width:1.875rem;height:1.875rem;margin-right:.625rem}
.breadcrumb-custom [class*="bc-c-"]::after{border-width:.5rem 0 .5rem .5rem}
}
@media (min-width: 1400px) {
.breadcrumb-custom{margin-top:-13px;margin-right: 135px}
.breadcrumb-custom [class*="bc-c-"]{font-size:1.125rem;padding:1.375rem 2rem;}
.breadcrumb-custom .bc-c-1 img{width:1.875rem;height:1.875rem;margin-right:.625rem}
.breadcrumb-custom [class*="bc-c-"]::after{border-width:.5rem 0 .5rem .5rem}
}
.box-shadow{box-shadow:rgba(0,0,0,.1) 0 26px 1.625rem -19px;background:#fff;border-radius:.25rem}
.box-shadow2{box-shadow:rgba(0,0,0,.1) .125rem .125rem .25rem;background:#fff;border-radius:.375rem}
.box-shadow3{box-shadow:rgba(0,0,0,.1) 0 .625rem .625rem;background:#fff;border-radius:.25rem}
.bg-EFF3F8{background:#EFF3F8}
.text-5091CD{color:#5091cd}
.masarat{background:#5091CD;display:flex;float:right;padding:.5rem;color:#fff;border-radius:.25rem}
.masarat:hover{background:#243C96;color:#fff}
#goDown{display:none}
@media (min-width: 992px) {
#goDown{display:block;position:fixed;bottom:1rem;left:50%;transform:translateX(-50%);background:#fff;padding:.5rem;z-index:99;border-radius:8px}
}
tbody{background:#fff}
.mb-30px{margin-bottom:30px}
.bg-opacity-4{background-color:#5091CD}
.section-purple .rotba-5{background-color:#8A64A6;color: #fff}
.section-purple .rotba-4{background-color:#A977B4;color: #fff}
.section-purple .rotba-3{background-color:#BC8CBE;color: #fff}
.section-purple .rotba-2{background-color:#DDAFD3;color: #fff}
.section-purple .rotba-1{background-color:#F9CCE0;color: #fff}
.section-green .rotba-5{background-color:#43AC69;color: #fff}
.section-green .rotba-4{background-color:#46BA71;color: #fff}
.section-green .rotba-3{background-color:#76C58C;color: #fff}
.section-green .rotba-2{background-color:#90D59F;color: #fff}
.section-green .rotba-1{background-color:#B6DCB7;color: #fff}
.section-cyan .rotba-5{background-color:#0EB2B8;color: #fff}
.section-cyan .rotba-4{background-color:#3AC2CE;color: #fff}
.section-cyan .rotba-3{background-color:#71CFEB;color: #fff}
.section-cyan .rotba-2{background-color:#8ED9F9;color: #fff}
.section-cyan .rotba-1{background-color:#ABE1FB;color: #fff}
.section-orange .rotba-5{background-color:#E59A3C;color: #fff}
.section-orange .rotba-4{background-color:#FBA733;color: #fff}
.section-orange .rotba-3{background-color:#FDBB4B;color: #fff}
.section-orange .rotba-2{background-color:#FFCE67;color: #fff}
.section-orange .rotba-1{background-color:#FFE17F;color: #fff}
.text-purple,.section-purple .section-color{color:#8567A8}
.section-purple .breadcrumb-custom .bc-c-2,.section-purple .bg-opacity-4{background-color:#8567A8}
.section-purple .breadcrumb-custom .bc-c-2::after{border-color:transparent #8567A8 transparent transparent}
.section-purple .breadcrumb-custom .bc-c-3,.section-purple .bg-opacity-3{background-color:#9977C1}
.section-purple .breadcrumb-custom .bc-c-3::after{border-color:transparent #9977C1 transparent transparent}
.section-purple .breadcrumb-custom .bc-c-4,.section-purple .bg-opacity-2{background-color:#B48EE1}
.section-purple .breadcrumb-custom .bc-c-4::after{border-color:transparent #B48EE1 transparent transparent}
.section-purple .breadcrumb-custom .bc-c-5,.section-purple .bg-opacity-1{background-color:#D4A2EC}
.section-purple .breadcrumb-custom .bc-c-5::after{border-color:transparent #D4A2EC transparent transparent}
.text-green,.section-green .section-color{color:#14B263}
.section-green .breadcrumb-custom .bc-c-2,.section-green .bg-opacity-4{background-color:#14B263}
.section-green .breadcrumb-custom .bc-c-2::after{border-color:transparent #14B263 transparent transparent}
.section-green .breadcrumb-custom .bc-c-3,.section-green .bg-opacity-3{background-color:#39BB7A}
.section-green .breadcrumb-custom .bc-c-3::after{border-color:transparent #39BB7A transparent transparent}
.section-green .breadcrumb-custom .bc-c-4,.section-green .bg-opacity-2{background-color:#67CE9A}
.section-green .breadcrumb-custom .bc-c-4::after{border-color:transparent #67CE9A transparent transparent}
.section-green .breadcrumb-custom .bc-c-5,.section-green .bg-opacity-1{background-color:#82E6B3}
.section-green .breadcrumb-custom .bc-c-5::after{border-color:transparent #82E6B3 transparent transparent}
.text-cyan,.section-cyan .section-color{color:#08BABC}
.section-cyan .breadcrumb-custom .bc-c-2,.section-cyan .bg-opacity-4{background-color:#08BABC}
.section-cyan .breadcrumb-custom .bc-c-2::after{border-color:transparent #08BABC transparent transparent}
.section-cyan .breadcrumb-custom .bc-c-3,.section-cyan .bg-opacity-3{background-color:#1FCFD1}
.section-cyan .breadcrumb-custom .bc-c-3::after{border-color:transparent #1FCFD1 transparent transparent}
.section-cyan .breadcrumb-custom .bc-c-4,.section-cyan .bg-opacity-2{background-color:#3BE0E2}
.section-cyan .breadcrumb-custom .bc-c-4::after{border-color:transparent #3BE0E2 transparent transparent}
.section-cyan .breadcrumb-custom .bc-c-5,.section-cyan .bg-opacity-1{background-color:#5DE4E6}
.section-cyan .breadcrumb-custom .bc-c-5::after{border-color:transparent #5DE4E6 transparent transparent}
.text-orange,.section-orange .section-color{color:#E38723}
.section-orange .breadcrumb-custom .bc-c-2,.section-orange .bg-opacity-4{background-color:#E38723}
.section-orange .breadcrumb-custom .bc-c-2::after{border-color:transparent #E38723 transparent transparent}
.section-orange .breadcrumb-custom .bc-c-3,.section-orange .bg-opacity-3{background-color:#E39846}
.section-orange .breadcrumb-custom .bc-c-3::after{border-color:transparent #E39846 transparent transparent}
.section-orange .breadcrumb-custom .bc-c-4,.section-orange .bg-opacity-2{background-color:#E9A55C}
.section-orange .breadcrumb-custom .bc-c-4::after{border-color:transparent #E9A55C transparent transparent}
.section-orange .breadcrumb-custom .bc-c-5,.section-orange .bg-opacity-1{background-color:#FCBF7D}
.section-orange .breadcrumb-custom .bc-c-5::after{border-color:transparent #FCBF7D transparent transparent}
[class*="bg-opacity"]{color:#fff}
.table-custom thead{font-weight:700;color:#777B81;text-align:center;box-shadow:rgba(0,0,0,.1) 0 5px 5px}
.table-custom tbody{color:#27337B;font-size:14px;font-weight:700;text-align:center}
.table-custom td,.table-custom th{vertical-align:middle;border:0!important}
.table-custom thead td{padding-bottom:.75rem!important;padding-top:.5rem!important}
.table-custom tbody tr:hover{background-color:rgba(40,181,110,.15)!important;box-shadow:rgba(40,181,110,1) 0 1px 3px,rgba(40,181,110,1) 0 0 3px;cursor:pointer}
.table-custom2 tbody tr:hover{background-color:rgba(40,181,110,.15)!important;box-shadow:rgba(40,181,110,1) 0 1px 3px,rgba(40,181,110,1) 0 0 3px;cursor:pointer;color:#243C96!important}
.table-custom2 thead tr{font-size:15px}
.table-custom2 tbody tr{font-size:14px;font-weight:600;color:#777B81}
.table-custom2 tbody td{padding:.4rem!important}
.table-custom2 td,.table-custom2 th{border:0;padding:.4rem!important}
.text-777B81{color:#777B81}
@media (min-width: 992px) {
.col-lg-2-10{-ms-flex:0 0 20%;flex:0 0 20%;max-width:20%}
}
.gray-card{border:2px solid #E5E6E8;background:#F7F7F7;border-radius:.75rem;font-size:.875rem;color:#777B81;margin-top:5rem;height:calc(100% - 5rem);padding-top:0;-webkit-transition:all ease-out .125s;-moz-transition:all ease-out .125s;-o-transition:all ease-out .125s;transition:all ease-out .125s;z-index:1}
.gray-no{text-align:center;background:url(../img/circle-lvl-1.svg) no-repeat;width:152px;height:154px;margin:-4rem auto 1rem;color:#27337B;display:flex;flex-direction:column;justify-content:center;background-size:contain!important}
.gray-title{font-weight:600;font-size:18px}
.gray-title2{font-size:13px;font-weight:600}
.gray-number{font-size:35px;font-weight:700}
.gray-card ul{padding-right:2rem}
.gray-no.no-2{background:url(../img/circle-lvl-2.svg) no-repeat}
.gray-no.no-3{background:url(../img/circle-lvl-3.svg) no-repeat}
.gray-no.no-4{background:url(../img/circle-lvl-4.svg) no-repeat}
.gray-no.no-5{background:url(../img/circle-lvl-5.svg) no-repeat}
.third-gutters{margin-left:-3px;margin-right:-3px}
.third-gutters>.col,.third-gutters>[class*=col-]{padding-left:3px;padding-right:3px}
.gray-card.can-hover:hover{transform:scale(1.05,1.05);box-shadow:rgba(0,0,0,0.15) 0 0 1rem;z-index:5;background:#243C96;color:#fff!important}
.has-gray-card:hover{z-index:5}
.has-gray-card.active{z-index:5}
.has-gray-card.active .gray-card{transform:scale(1.1,1.1);box-shadow:rgba(0,0,0,0.15) 0 0 2rem;z-index:5;background:#fff}
.link-with-bg{position:relative;padding:.75rem;color:#fff;text-decoration:none!important}
.link-with-bg.text-white:hover{color:#243C96!important;text-decoration:none!important}
.link-with-bg::before{content:"";position:absolute;left:0;top:0;bottom:0;width:0;background:#fff;z-index:-1;-webkit-transition:width .3s ease;-moz-transition:width .3s ease;-ms-transition:width .3s ease;-o-transition:width .3s ease;transition:width .3s ease}
.link-with-bg:hover::before{width:100%}
.scroll-wrapper.scrollbar-inner > div{max-height:400px!important}
.scroll-wrapper{overflow:hidden!important;padding:0!important;position:relative;padding-right:1rem!important;color:#777B81}
.scroll-wrapper > .scroll-content{border:none!important;box-sizing:content-box!important;height:auto;right:0;margin:0;max-height:none;max-width:none!important;overflow:scroll!important;padding:0;position:relative!important;top:0;width:auto!important}
.scroll-wrapper > .scroll-content::-webkit-scrollbar{height:0;width:0}
.scroll-element{display:none}
.scroll-element,.scroll-element div{box-sizing:content-box}
.scroll-element.scroll-x.scroll-scrollx_visible,.scroll-element.scroll-y.scroll-scrolly_visible{display:block}
.scroll-element .scroll-bar,.scroll-element .scroll-arrow{cursor:default}
.scroll-textarea{border:1px solid #ccc;border-top-color:#999}
.scroll-textarea > .scroll-content{overflow:hidden!important}
.scroll-textarea > .scroll-content > textarea{border:none!important;box-sizing:border-box;height:100%!important;margin:0;max-height:none!important;max-width:none!important;overflow:scroll!important;outline:none;padding:.125rem;position:relative!important;top:0;width:100%!important}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar{height:0;width:0}
.scrollbar-inner > .scroll-element,.scrollbar-inner > .scroll-element div{border:none;margin:0;padding:0;position:absolute;z-index:10}
.scrollbar-inner > .scroll-element div{display:block;height:100%;right:0;top:0;width:100%}
.scrollbar-inner > .scroll-element.scroll-x{bottom:.125rem;height:.5rem;right:0;width:100%}
.scrollbar-inner > .scroll-element.scroll-y{height:100%;right:0;top:0;width:.375rem}
.scrollbar-inner > .scroll-element .scroll-element_outer{overflow:hidden}
.scrollbar-inner > .scroll-element .scroll-element_outer,.scrollbar-inner > .scroll-element .scroll-element_track,.scrollbar-inner > .scroll-element .scroll-bar{-webkit-border-radius:.25rem;-moz-border-radius:.25rem;border-radius:.25rem}
.scrollbar-inner > .scroll-element .scroll-element_track,.scrollbar-inner > .scroll-element .scroll-bar{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);filter:alpha(opacity=40)}
.scrollbar-inner > .scroll-element .scroll-element_track{background-color:#e0e0e0}
.scrollbar-inner > .scroll-element .scroll-bar{background-color:#5091CD}
.scrollbar-inner > .scroll-element:hover .scroll-bar{background-color:#919191}
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar{background-color:#919191}
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track{right:-12px}
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track{top:-12px}
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size{right:-12px}
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size{top:-12px}
@media (min-width: 992px) {
.animate{animation-duration:.3s;-webkit-animation-duration:.3s;animation-fill-mode:both;-webkit-animation-fill-mode:both}
}
@keyframes slideFromDown {
0%{transform:translateY(1rem);opacity:0}
100%{transform:translateY(0rem);opacity:1}
0%{transform:translateY(1rem);opacity:0}
}
@-webkit-keyframes slideFromDown {
0%{-webkit-transform:transform;-webkit-opacity:0}
100%{-webkit-transform:translateY(0);-webkit-opacity:1}
0%{-webkit-transform:translateY(1rem);-webkit-opacity:0}
}
.slideFromDown{-webkit-animation-name:slideFromDown;animation-name:slideFromDown}
@keyframes slideFromUp {
0%{transform:translateY(-1rem);opacity:0}
100%{transform:translateY(0rem);opacity:1}
0%{transform:translateY(-1rem);opacity:0}
}
@-webkit-keyframes slideFromUp {
0%{-webkit-transform:transform;-webkit-opacity:0}
100%{-webkit-transform:translateY(0);-webkit-opacity:1}
0%{-webkit-transform:translateY(-1rem);-webkit-opacity:0}
}
.slideFromUp{-webkit-animation-name:slideFromUp;animation-name:slideFromUp}
@keyframes slideFade {
0%{opacity:0}
100%{opacity:1}
0%{opacity:0}
}
@-webkit-keyframes slideFade {
0%{-webkit-opacity:0}
100%{-webkit-opacity:1}
0%{-webkit-opacity:0}
}
.slideFade{-webkit-animation-name:slideFade;animation-name:slideFade}
@media (min-width: 1400px) {
.pt-xxl-0,.py-xxl-0{padding-top:0!important}
.pt-xxl-1,.py-xxl-1{padding-top:.25rem!important}
.pt-xxl-2,.py-xxl-2{padding-top:.5rem!important}
.pt-xxl-3,.py-xxl-3{padding-top:1rem!important}
.pt-xxl-4,.py-xxl-4{padding-top:1.5rem!important}
.pt-xxl-5,.py-xxl-5{padding-top:3rem!important}
.pb-xxl-0,.py-xxl-0{padding-bottom:0!important}
.pb-xxl-1,.py-xxl-1{padding-bottom:.25rem!important}
.pb-xxl-2,.py-xxl-2{padding-bottom:.5rem!important}
.pb-xxl-3,.py-xxl-3{padding-bottom:1rem!important}
.pb-xxl-4,.py-xxl-4{padding-bottom:1.5rem!important}
.pb-xxl-5,.py-xxl-5{padding-bottom:3rem!important}
.pr-xxl-0,.px-xxl-0{padding-left:0!important}
.pr-xxl-1,.px-xxl-1{padding-left:.25rem!important}
.pr-xxl-2,.px-xxl-2{padding-left:.5rem!important}
.pr-xxl-3,.px-xxl-3{padding-left:1rem!important}
.pr-xxl-4,.px-xxl-4{padding-left:1.5rem!important}
.pr-xxl-5,.px-xxl-5{padding-left:3rem!important}
.pl-xxl-0,.px-xxl-0{padding-right:0!important}
.pl-xxl-1,.px-xxl-1{padding-right:.25rem!important}
.pl-xxl-2,.px-xxl-2{padding-right:.5rem!important}
.pl-xxl-3,.px-xxl-3{padding-right:1rem!important}
.pl-xxl-4,.px-xxl-4{padding-right:1.5rem!important}
.pl-xxl-5,.px-xxl-5{padding-right:3rem!important}
.mt-xxl-0,.my-xxl-0{margin-top:0!important}
.mt-xxl-1,.my-xxl-1{margin-top:.25rem!important}
.mt-xxl-2,.my-xxl-2{margin-top:.5rem!important}
.mt-xxl-3,.my-xxl-3{margin-top:1rem!important}
.mt-xxl-4,.my-xxl-4{margin-top:1.5rem!important}
.mt-xxl-5,.my-xxl-5{margin-top:3rem!important}
.mb-xxl-0,.my-xxl-0{margin-bottom:0!important}
.mb-xxl-1,.my-xxl-1{margin-bottom:.25rem!important}
.mb-xxl-2,.my-xxl-2{margin-bottom:.5rem!important}
.mb-xxl-3,.my-xxl-3{margin-bottom:1rem!important}
.mb-xxl-4,.my-xxl-4{margin-bottom:1.5rem!important}
.mb-xxl-5,.my-xxl-5{margin-bottom:3rem!important}
.mr-xxl-0,.mx-xxl-0{margin-left:0!important}
.mr-xxl-1,.mx-xxl-1{margin-left:.25rem!important}
.mr-xxl-2,.mx-xxl-2{margin-left:.5rem!important}
.mr-xxl-3,.mx-xxl-3{margin-left:1rem!important}
.mr-xxl-4,.mx-xxl-4{margin-left:1.5rem!important}
.mr-xxl-5,.mx-xxl-5{margin-left:3rem!important}
.ml-xxl-0,.mx-xxl-0{margin-right:0!important}
.ml-xxl-1,.mx-xxl-1{margin-right:.25rem!important}
.ml-xxl-2,.mx-xxl-2{margin-right:.5rem!important}
.ml-xxl-3,.mx-xxl-3{margin-right:1rem!important}
.ml-xxl-4,.mx-xxl-4{margin-right:1.5rem!important}
.ml-xxl-5,.mx-xxl-5{margin-right:3rem!important}
}


#inner-left-functions{position: absolute;right: 16px;display: flex;flex-direction: column;top: calc(50% + 13px);transform: translateY(-50%);z-index: 1;}
#inner-left-functions > span{position: relative;z-index: 1;width: 34px;margin: 7px 0;cursor: pointer;background: rgb(255 255 255);-webkit-transition: all ease-out .125s;-moz-transition: all ease-out .125s;-o-transition: all ease-out .125s;transition: all ease-out .125s;}
@media (min-width: 992px) {#inner-left-functions{right: 36px;}#inner-left-functions > span{box-shadow: none;margin: 17px 0;}}
#inner-left-functions > span img{opacity:.5}
#inner-left-functions > span:hover img{opacity:1}
#inner-left-functions > span:hover{width: auto;box-shadow: none;}
#inner-left-functions > span::after{content: "";background: #EEEEEE;position: absolute;right: 34px;top: 0;bottom: 0;z-index: -1;left: 0;-webkit-transition: all ease-out .025s;-moz-transition: all ease-out .025s;-o-transition: all ease-out .025s;transition: all ease-out .025s;}
#inner-left-functions > span:hover::after{left: 0;top:0;right: 0;bottom: 0;}
#inner-left-functions > span i{position: absolute;right: 100%;width: auto;white-space: nowrap;font-style: normal;font-size: 15px;color: #27337B;opacity: 0;visibility: hidden;height: 100%;line-height: 2.3;padding: 0 6px;}
#inner-left-functions > span i::after{content: "";background: #EEEEEE;position: absolute;right: 0;top: 0;bottom: 0;z-index: -1;left: 34px;-webkit-transition: all ease-out .125s;-moz-transition: all ease-out .125s;-o-transition: all ease-out .125s;transition: all ease-out .125s;}
#inner-left-functions > span:hover i::after{left: 0;top:0;right: 0;bottom: 0;}
#inner-left-functions > span:hover i{opacity: 1;visibility: visible;}
#inner-left-functions > span ul{position: absolute;right: 0;width: auto;white-space: nowrap;font-style: normal;font-size: 15px;color: #27337B;opacity: 0;visibility: hidden;height: 100%;line-height: 2.3;padding: 0 6px;top: 100%;margin: 0;padding: 0;list-style: none;}
#inner-left-functions > span:hover ul{opacity: 1;visibility: visible;}
#inner-left-functions > span ul img{opacity: .3;-webkit-transition: all ease-out .125s;-moz-transition: all ease-out .125s;-o-transition: all ease-out .125s;transition: all ease-out .125s;}
#inner-left-functions > span ul img:hover{opacity: 1;}
@media (max-width: 991px) {
    #inner-left-functions{position: relative;flex-direction: row;top: 0;transform: none;justify-content: flex-end;margin-bottom: -45px;}
    #inner-left-functions > span i{display: none!important;}
    #inner-left-functions > span{margin: 7px;}
    #inner-left-functions > span:hover{width: 34px;}
}
.footer{background: #2A2A63 url(../img/footer-bg.svg) no-repeat left center;color: #fff;background-size: cover;}
@media (min-width: 992px){.footer{background-size: auto;}}
.footer a{color: #fff;font-size: 14px}
.footer a:hover{text-decoration: none;color:#5091cd}
#footer-links a {display: inline-block;}
#footer-links a img{filter:brightness(100);-webkit-transition: all ease-out .125s;-moz-transition: all ease-out .125s;-o-transition: all ease-out .125s;transition: all ease-out .125s;margin-top:6px;}
#footer-links a:hover img{filter:none;margin-top:0px;}
.footer hr {border-top: 1px solid rgba(255,255,255,.15);margin-top: 3rem;margin-bottom: 1rem;}

.bg-EDEFF3{background-color: #EDEFF3}
.bg-72ABE1{background-color: #72ABE1}
.bg-5091CD{background-color: #5091CD}
.text-243C96{color:#243C96}
.table-complex{border-color: #D4D6D9}
.table-complex td{color:#243C96;line-height: 29px}
.text-777B81{color: #777B81!important}

.timeline{position: relative;}
.timeline::after{border: #E6E6E6 1px dashed;content: "";position: absolute;top: 0;bottom: 0;z-index: -1;left: 64px;}
.timeline-item{display: flex;margin-bottom: 85px;align-items: center;}
.timeline-icon{width: 202px;position: relative;}
.timeline-icon .img{background: #fff;width: 130px;height: 130px;border-radius: 50%;box-shadow: rgb(0 0 0 / 0.05) 0 0 5px;position: relative;text-align: center;display: flex;justify-content: center;}
.timeline-icon .img::after,
.timeline-icon .img::before{content: "";position: absolute;width:9px;height: 9px;border-radius: 50%;background: #BCBFC5;top:-4.5px;left: 50%;transform: translateX(-50%);}
.timeline-icon .img::after{top:auto;bottom: -4.5px;}
.timeline-icon .tbg{position: absolute;left: -6px;top: -6px;background: #243C96;opacity: .05;height: 142px;width: 142px;border-radius: 50%;z-index: -1;}
.timeline-icon .tarrow{position: absolute;left: 52px;transform: translateX(50%);bottom: -40px;height: 7px;}
.timeline-icon .img img {max-width: 60%;}
.timeline-data {width: calc( 100% - 152px);}
.timeline .timeline-item:first-child .timeline-icon .img::before,
.timeline .timeline-item:last-child .timeline-icon .img::after,
.timeline .timeline-item:last-child .timeline-icon .tarrow{display: none;}.timeline .timeline-item:last-child{margin-bottom: 0}
@media (max-width: 767px) {
    .timeline::after{left: 35px;}
    .timeline-data {width: calc( 100% - 102px);}
    .timeline-item{margin-bottom: 45px;}
    .timeline-icon{width: 102px;}
    .timeline-icon .img::after,.timeline-icon .img::before{width:5px;height: 5px;}
    .timeline-icon .img{width: 70px;height: 70px;}
    .timeline-icon .tbg{left: -5px;top: -5px;height: 80px;width: 80px;}
    .timeline-icon .tarrow{left: 23px;bottom: -16px;height: 7px;}
}
ul.custom-list {list-style: none;}
ul.custom-list li{margin: 10px}
ul.custom-list li::before {content: ""; background: #5091CD; width: 10px; display: inline-block; height: 10px; border-radius: 50%;margin-left: -20px;margin-right: 10px;}
.logo-shadow{box-shadow: rgba(0,0,0,.1) 0 3px 25px;padding: 24px;text-align: center;margin-bottom: 30px;height: calc( 100% - 30px );}
.logo-shadow img{max-width: 100%;height: auto;}
.card {border: 0;background: none;}
#accordion a{cursor: pointer;}
#accordion .card-header {border: 0;background: 0;}
#accordion .card-header a {color: #777B81!important;font-size: 18px;font-weight: 700;}
@media (min-width: 768px){#accordion .card-header a{font-size: 25px;}}
#accordion .card-header a img {margin-right: 1rem;}
#accordion .card-header a::after {content: "";background: url(../img/acc-arrow.svg) no-repeat;width: 35px;height: 35px;position: absolute;z-index: 1;right: 18px;top: 18px;}
#accordion .card-header a.collapsed::after {transform: scale(-1)}
.text-454E5A{color:#454E5A}

.contact-information{border: 2px solid #E1E4EC}
.text-555555{color: #555555}
.contact-social{display: flex;}
.contact-social a{background:#E9E9E9;width: 36px;height: 36px;margin-right: 22px;display: flex;justify-content: center;border-radius: 8px;}
.contact-social a:hover{background:#5091CD;}
.contact-social a:hover img{filter:brightness(100)}
.bg-e8f4fd{background-color: #4181bb;}
iframe{width:100%;height: 100%;}
.form-helper {color: #BABDC1;font-size: 14px;margin-top: 3px;text-align: right;}
.text-english {direction: ltr;display: inline-block;}
.form-control ::-webkit-input-placeholder {color: #C0C1C4;}
.form-control :-ms-input-placeholder {color: #C0C1C4;}
.form-control ::placeholder {color: #C0C1C4;}
.form-custom .form-control {background:transparent;border-radius: 0;border: 0;border-bottom: 2px solid #D9DEE5;padding-left: 0;padding-right: 0;}
.form-custom .form-control:focus{border-bottom: 2px solid #5091CD;outline: 0!important;box-shadow: none!important}
input[type="text"].hasValue,input[type="email"].hasValue,textarea.hasValue{border-bottom: 2px solid #5091CD;}
.btn{font-size: 17px;padding: 11px 45px;font-weight: 600}
.btn-primary{background-color: #5091CD;border-color: #5091CD;}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:hover,
.show>.btn-primary.dropdown-toggle{background-color: #4687C4;border-color: #4687C4}
.btn-light{background-color: #F3F3F3;color: #777B81;}
.custom-control-label::before{border: 1px solid #A4A7AB;background: #fff;}
.custom-radio .custom-control-input:checked~.custom-control-label::before {background-color: #5091CD;border: 1px solid #5091CD;}
.custom-radio .custom-control-input:checked~.custom-control-label::after{background-image: url(../img/check-icon.png);background-size: 60% 60%;top: 3px;}
.custom-control-inline {margin-right: 2rem;color: #878A8F}
.bg-F3F3F3{background: #f3f3f3}
.modal-content-search input[type="text"],.content-search input[type="text"]{background: transparent!important;border: 0!important;box-shadow:none!important;outline: 0!important;}
.btn-search {box-shadow: rgba(82,90,120,.2) 0 5px 25px;border: 1px #E1E4EC solid;background: #fff;padding-top: 11px;padding-bottom: 11px;padding-right: 9px;padding-left: 9px;}.btn-search.focus,.btn-search:focus{outline: none!important;box-shadow: rgba(82,90,120,.2) 0 5px 25px;}
.collapse-box-shadow{box-shadow: rgba(0,0,0,.1) 0 0px 1.625rem 5px;background: #ffffff;border-radius: .25rem;}
.text-4D4E50{color: #4D4E50}
select.custom-select {background: url(../img/select-arrow.png) #F3F3F3 no-repeat right 16px center;border: 0;height: calc(3rem + 2px);}
.search-item::after {content: "";position: absolute;width: 6px;height: 89px;background: url(../img/search-item-bg.svg);background-size: cover;right: 0;top: 50%;transform: translateY(-50%) scaleX(-1);-webkit-transition: all ease-out .125s;-moz-transition: all ease-out .125s;-o-transition: all ease-out .125s;transition: all ease-out .125s;}
.search-item {border: #E1E4EC 1px solid;border-radius: 8px;box-shadow: rgba(0,0,0,.1) 0 0px 1.625rem 5px;display: flex;align-items: start;position: relative;background: #fff}
.search-item:hover{border:1px solid #5091CD}
.search-item:hover::after{height: 114px;}
.search-sector {border: 2px solid #ECEEF1;margin: 24px 0 0 24px;border-radius: 8px;font-size: 12px;font-weight: 600;padding: 7px;width: 100px;text-align: center;color: #878A8F;}
.search-content {padding: 24px;width: calc( 100% - 100px );}
.search-content-title {color: #243C96;font-size: 1.0625rem;font-weight: 700;}
.search-content-text {color: #777B81;}
.search-content-link {overflow: hidden;white-space: nowrap;}
.pagination .page-link{border:0;background:transparent;font-weight:700;color: #5091cd;}
.pagination .page-item.active .page-link {z-index: 1;color: #777B81;background-color: #E6E6E6;border-color: #E6E6E6;}
.pagination img{transform: scaleX(-1)}
@media (max-width: 767px){
.half-gutters-mobile{margin-left:-7px;margin-right:-7px}
.half-gutters-mobile .mb-30px{margin-bottom: 14px;}
.half-gutters-mobile>.col,.half-gutters-mobile>[class*=col-]{padding-left:7px;padding-right:7px}
.has-gray-card.active .gray-card{margin-top: 7rem;}
.has-gray-card.active {margin-bottom: 4rem;}
}
#breadcrumb a {color: #fff;}

.high-contrast body {filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
-webkit-filter: grayscale(100%) contrast(1.4);
-moz-filter: grayscale(100%) contrast(1.4);
-ms-filter: grayscale(100%) contrast(1.4);
-o-filter: grayscale(100%) contrast(1.4);
filter: grayscale(100%) contrast(1.4);}
.high-contrast img{filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
-webkit-filter: grayscale(100%) contrast(1.4);
-moz-filter: grayscale(100%) contrast(1.4);
-ms-filter: grayscale(100%) contrast(1.4);
-o-filter: grayscale(100%) contrast(1.4);
filter: grayscale(100%) contrast(1.4);}
.high-contrast #head,.high-contrast .expanding-box{background-image: none!important}
.carousel-control-next, .carousel-control-prev{width: 40px;opacity: 1;right: -45px;}
.carousel-control-prev{left: -45px;}
.carousel-control-next:hover, .carousel-control-prev:hover {background: rgb(255 255 255 / 79%);}
.carousel-control-next-icon{background: url(../img/right-arrow.png) no-repeat center;width: 40px;height: 40px;}
.carousel-control-prev-icon{background: url(../img/left-arrow.png) no-repeat center;width: 40px;height: 40px;}
.bc-c-last{display: none;cursor: pointer;}
@media (max-width: 767px){.bc-c-last{display: block;}
.breadcrumb-custom .bc-c-2,.breadcrumb-custom .bc-c-3,.breadcrumb-custom .bc-c-4,.breadcrumb-custom .bc-c-5{display: none;}
.breadcrumb-custom.opened .bc-c-2,.breadcrumb-custom.opened .bc-c-3,.breadcrumb-custom.opened .bc-c-4,.breadcrumb-custom.opened .bc-c-5{display: block;}
.breadcrumb-custom.opened .bc-c-last{transform: scaleX(-1)}
}
.has-error .form-control{border-bottom: 2px solid rgb(255, 0, 0);}



.print-footer,.print-header{display: none;}


.bg-common .color-243C96,.bg-common .section-color{color: #fff}
.common-label {font-size: 12px;position: absolute;left:0;top: 4px;background: #fff;border-radius:0 12px 12px 0;padding: 4px 10px;color: #777B81;}
.bg-common{background-color: rgb(121, 121, 121)}
.section-purple .bg-common{background-color: #8567A8;position: relative}
.section-green .bg-common{background-color: #4CB374;position: relative}
.section-cyan .bg-common{background-color: #08BABC;position: relative}
.section-orange .bg-common{background-color: #E39846;position: relative}

#faqs a{cursor: pointer;}
#faqs .card-header {border: 0;box-shadow: rgba(0,0,0,.2) 0 2px 20px;border-radius: 3px;padding: 0;}
#faqs .card-header a {color: #fff!important;font-size: 16px;font-weight: 700;padding: .75rem 1.25rem;background: #5091CD}
@media (min-width: 768px){#faqs .card-header a{font-size: 17px;}}
#faqs .card-header a img {margin-right: 1rem;}
#faqs .card-body {line-height: 32px;color: #777B81!important;}
#faqs .card-header a img[src*="accordion-arrow.svg"] {position: absolute;right: .5rem;top: 28px;transform: scaleY(-1)}
#faqs .card-header a img[src*="accordion-icon.svg"] {transform: scaleX(-1)}
#faqs .card-header a.collapsed{background: #fff;color: #777B81!important;}
#faqs .card-header a.collapsed img[src*="accordion-arrow.svg"]{transform: scaleY(1)}
#faqs .card-header a img[src*=".svg"]{filter: brightness(100)}
#faqs .card-header a.collapsed img[src*=".svg"]{filter: brightness(1)}

.bg-hover-F4F9FE.bg-white:hover{background: #F4F9FE!important;text-decoration: none}
/* *******************************************
** font sizing
** ******************************************/
/*xl*/
.fs-xl #breadcrumb{font-size:18px;}
.fs-xl .inner-content{font-size:18px;}
.fs-xl .fs-20{font-size:22px;}
.fs-xl .fs-15{font-size:17px;}
.fs-xl .btn{font-size:19px;}
.fs-xl .card-header a{font-size:20px;}
.fs-xl .form-control{font-size:18px;}
.fs-xl .search-sector{font-size:13px;}
.fs-xl #faqs .card-header a ,.fs-xl .search-content-title{font-size: 18px;}
@media (min-width: 768px){
    .fs-xl .card-header a{font-size:27px;}
    .fs-xl #faqs .card-header a ,.fs-xl .search-content-title{font-size: 19px;}
}
@media (min-width: 1200px){
    .fs-xl .fs-xl-25 {font-size: 27px;}
    .fs-xl .fs-xl-17 {font-size: 19px;}
    .fs-xl .fs-xl-26 {font-size: 28px;}
    .fs-xl .fs-xl-18 {font-size: 20px;}
    .fs-xl #faqs .card-header a,.fs-xl .search-content-title {font-size: 20px;}
}
@media (min-width: 1400px){
    .fs-xl .fs-xxl-30 {font-size: 32px;}
    .fs-xl #faqs .card-header a ,.fs-xl .search-content-title{font-size: 21px;}
}

/*xxl*/
.fs-xxl #breadcrumb{font-size:20px;}
.fs-xxl .inner-content{font-size:20px;}
.fs-xxl .fs-20{font-size:24px;}
.fs-xxl .fs-15{font-size:19px;}
.fs-xxl .btn{font-size:21px;}
.fs-xxl .card-header a{font-size:22px;}
.fs-xxl .form-control{font-size:20px;}
.fs-xxl .search-sector{font-size:14px;}
.fs-xxl #faqs .card-header a ,.fs-xxl .search-content-title{font-size: 19px;}
@media (min-width: 768px){
    .fs-xxl .card-header a{font-size:29px;}
    .fs-xxl #faqs .card-header a ,.fs-xxl .search-content-title{font-size: 20px;}}
@media (min-width: 1200px){
    .fs-xxl .fs-xl-25 {font-size: 29px;}
    .fs-xxl .fs-xl-17 {font-size: 21px;}
    .fs-xxl .fs-xl-26 {font-size: 30px;}
    .fs-xxl .fs-xl-18 {font-size: 22px;}
    .fs-xxl #faqs .card-header a,.fs-xxl .search-content-title {font-size: 22px;}
}
@media (min-width: 1400px){.fs-xxl .fs-xxl-30 {font-size: 34px;}
.fs-xxl #faqs .card-header a,.fs-xxl .search-content-title {font-size: 24px;}}

/*xxxl*/
.fs-xxxl #breadcrumb{font-size:24px;}
.fs-xxxl .inner-content{font-size:24px;}
.fs-xxxl .fs-20{font-size:28px;}
.fs-xxxl .fs-15{font-size:23px;}
.fs-xxxl .btn{font-size:25px;}
.fs-xxxl .card-header a{font-size:26px;}
.fs-xxxl .form-control{font-size:24px;}
.fs-xxxl .search-sector{font-size:23px;}
.fs-xxxl #faqs .card-header a ,.fs-xxxl .search-content-title{font-size: 21px;}
@media (min-width: 768px){
    .fs-xxxl .card-header a{font-size:33px;}
    .fs-xxxl #faqs .card-header a,.fs-xxxl .search-content-title {font-size: 23px;}}
@media (min-width: 1200px){
    .fs-xxxl .fs-xl-25 {font-size: 33px;}
    .fs-xxxl .fs-xl-17 {font-size: 25px;}
    .fs-xxxl .fs-xl-26 {font-size: 34px;}
    .fs-xxxl .fs-xl-18 {font-size: 26px;}
    .fs-xxxl #faqs .card-header a ,.fs-xxxl .search-content-title{font-size: 25px;}
}
@media (min-width: 1400px){
    .fs-xxxl .fs-xxl-30 {font-size: 38px;}
    .fs-xxxl #faqs .card-header a ,.fs-xxxl .search-content-title{font-size: 28px;}
}
.carousel-indicators li{height: 26px;text-indent: 0!important;line-height:24px;width:24px;border-radius:4px;;background:#f5f5f5;color:#000}
.carousel-indicators .active{background:#508fdc;color:#fff}